@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* dark mode */

  background-color: #0e0505;
  color: #fff;
  font-family: inter, san-serif;
  padding: 16px;
  background: #000;
  /* animate page onload, use a good animation */
    /* overflow-x: hidden; */


}

@keyframes pageLoad {
    0%{
        background: #000;
    }
    50%{
        background: #0ebac5;
    }
    100%{
        background: #000;
    }

}


.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.loader {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loader>h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
    padding: 16px;
    align-items: center;
    color: #0ebac5
    
}

.loader::before{
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: ring 1s linear 4;
}

#scrl-icon{
  --clr:#ccc;
  display:block;
  width:20px;
  height:auto;
  overflow:visible;
  margin:10px auto;
  bottom: 50px;
position: absolute;
}
.scrl-body{
  fill:none;
  stroke:var(--clr);
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-width:3.5;
  animation: scroll-parallax 1.5s cubic-bezier(.41,.07,.83,.67) infinite running
}
@keyframes scroll-parallax {
  25%{
    transform:translateY(0)
  }
  75%{
    transform:translateY(-20%)
  }
}

.scrl-wheel{
  fill:var(--clr);
  transform-origin:bottom;
  animation: scroll-animation 1.5s linear infinite running;
  will-change:transform;
}

@keyframes scroll-animation{
0% {
  transform: translateY(-90%) scale(0.7, 0.1)
  }
10% {
  transform: translateY(-90%) scaleY(0.3)
  }
25% {
  transform: translateY(-20%) scaleY(1)
  }
75% {
  transform: translateY(40%) scaleY(1)
  }
100% {
  transform: translateY(20%) scale(0.8, 0.1);
  }
}


@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 0px 5px 5px #ff2121;
    }
    25%{
        transform: rotate(90deg);
        box-shadow: 0px 5px 5px #fffb21;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 0px 5px 5px #21c0ff;
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 0px 5px 5px #bc21ff;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0px 5px 5px #ff2121;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.nav__logo > img {
  filter: invert(1);
}

.nav__logo {
  flex: 0.1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 2px 0;
  animation: fadeIn 0.4s forwards;
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar li {
  opacity: 0;
}

li.fade {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, -6px);
  transition: all 0.7s ease;
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translate(15px, -5px);
  transition: all 0.7s ease;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.7;
  list-style-type: none;
  z-index: 11;
}

.nav__ul li {
  margin-right: 20px;
  cursor: pointer;
}

.nav__btns {
  display: flex;
}

.nav__btns > button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

@media (max-width: 768px) {
  .nav__burger {
    display: flex;
  }

  .nav__btns {
    display: none;
  }

  .nav__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    min-height: 90vh;
    background-color: #0ebac5;
    clip-path: circle(10px at 100% -30%);
    transition: all 0.8s ease-in;
  }

  .nav__ul.show {
    display: flex;
    clip-path: circle(100vh at 10% 10%);

  }

  .open {
    background-color: #0ebac5;
    clip-path: circle(100vh at 10% 10%);
    /* width: 100%;
    height: 100%; */
    pointer-events: all;
  }

  .nav__ul li {
    margin: 0;
    padding-top: 45px;
    text-align: center;
    font-weight: font-bold;
  }
}



/* Banner text */


.circle-container {
    position: relative;
 
    animation: rotate 8s ease-in infinite;
    top: 30%;
    transform: scale(2.5) skew(100deg);
    filter: hue-rotate(10deg);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) ;


    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .img_icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 70%;
    left: 50%;
    transition: transform 4s ease-out;
  }
  
  .img_icon:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translate(-250px) rotate(0deg);
  }
  
  
.img_icon:nth-child(2) {
    transform: translate(-50%, -50%) rotate(72deg) translate(-250px) rotate(-72deg);
  }
  
  .img_icon:nth-child(3) {
    transform: translate(-50%, -50%) rotate(144deg) translate(-250px) rotate(-144deg);
  }
  
  .img_icon:nth-child(4) {
    transform: translate(-50%, -50%) rotate(216deg) translate(-250px) rotate(-216deg);
  }
  
  .img_icon:nth-child(5) {
    transform: translate(-50%, -50%) rotate(288deg) translate(-250px) rotate(-288deg);
  }

.banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes moveRound{
    0%{
        transform: rotate(0deg) translate(0px, 0px);
    }
    50%{
        transform: rotate(180deg) translate(25px, -250px);
    }
    100%{
        transform: rotate(360deg) translate(0px, 0px);
    }
}
    

h2 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
  padding: 16px;
  width: 70%;
  z-index: 10;
  align-items: center;
  background: linear-gradient(to right, #0ebac5, #ff1b6b);
  background-position: 100% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.1s ease-in;
  animation: gradientChange 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.banner>p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
    padding: 16px;
    align-items: center;
    width: 60%;
    
   }

   
   


@keyframes gradientChange {
  0% {
    background: linear-gradient(to right, #0ebac5, #ff1b6b);
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(to right, #ff1b6b, #0ebac5);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #0ec542, #7f2ef0);
    -webkit-background-clip: text;
  }
}

/* video banner */

.video__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
    height: 90vh;
    width: 100%;

}

.video__banner >video{
    width: 70%;
    height: 80%;
    object-fit: contain;
  
}  


@media (max-width: 768px) {
    h2 {
      font-size: 3rem;
      margin: 2px;
      width: 100%;
    }
    .banner>p{
      font-size: 1rem;
      margin: 2px;
      width: 100%;
    
    }
    .video__banner{
        height: 90vh;
        width: 100%;
        margin-top: 50px;
    }
    .video__banner >video{
        width: 100%;
        height: 100%;
    
    }
  }
  


/* features */

.features{
    
    height: 90vh;
    width: 100%;
    margin-top: 50px;
        overflow-x: hidden;

}

.features>h3{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
    padding: 16px;
    align-items: center;
    color: #0ebac5
}

.features__container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2rem;
}



.card:hover {
  /* make backgoud a shade of blue */
  /* background-color: #0000ff; */
  /* make image a shade of blue */
  /* filter: brightness(80%); */
  transition: all 0.5s ease-in;
}

.card {
  transition-timing-function: ease-in-out;
  border: 1px double #dddddd59;
  cursor: pointer;
}
.card::before {
  content: "";
  background: #0ebac5;
  /* pink gradient */
  width: 18em;
  height: 18em;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  filter: blur(100px) ;
  top: var(--top);
  left: var(--left);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Added transition for opacity */

}

.card:hover::before {
  opacity: 1;
  /* z-index: 10; */
}

.card {
  width: 35%;
  height: 35%;
  margin: 10px;
  padding: 20px;
  z-index: 1000;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;

  /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
  transform: translateX(0);
  transition: opacity 0.5s, transform 0.5s;
}

@media (max-width: 768px) {
    .features{
        height: 100%;
        width: 100%;
        margin-top: 50px;
    }
    .features>h3{
        font-size: 1.5rem;
        margin: 2px;
        width: 100%;
      }
    .features__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 2rem;
    }
    .card{
        width: 100%;
        height: 100%;
    }
  }

.slide-left {
    transform: translateX(-100%);
  }
  
  .slide-right {
    transform: translateX(100%);
  }
  
  .card.show {
    opacity: 1;
    transform: translateX(0);
  }
.card > h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: center;
  padding: 16px;
  align-items: center;
}

.card > p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  padding: 16px;
  align-items: center;
}


footer{
    height: 10vh;
    width: 100%;
    background-color: #0ebac5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2rem;
    
}